{% extends 'base.html.twig' %}

{% block title %}Mon compte - DataProjekt{% endblock %}
{% block MonTitre %}Mon compte{% endblock %}
{% block content %}
<div class="ml-2">
   Bienvenue {{app.user.firstname}} dans votre compte. <br/>
   C'est dans cet espace que vos allez pouvoir gérer toutes vos informations personnelles.
</div>

<a href={{path('account_password')}} class = "btn btn-info text-white ml-2">Modifier mon mot de passe</a>

{% endblock %}
