{% extends 'base.html.twig' %}

{% block title %}Mon compte - DataProjekt{% endblock %}
{% block MonTitre %}Modification du mot de passe{% endblock %}
{% block content %}

<div class="container">
<a href={{ path('account') }}>Retourner à mon compte</a>
<hr>
{% if notification %}
    <div class="alert alert-danger">{{ notification }}</div>
{% endif %}
{{form(form)}}
</div>
{% endblock %}
