{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block MonTitre %}Page d'inscription{% endblock %}
{% block content %}
    <div class="container">
    {{ form(form)}}
    </div>

{% endblock %}
